.lingkaran {
    height:25px; 
    width:25px; 
    border-radius: 100%; 
    border:solid 2px black;
}

.garis {
    height:40px; 
    width:1px; 
    border:solid 2px black;
    border-radius: 5%;
}

.img-profil {
    filter: brightness(50%);
}

.foto-alumni{
    height: 150px;
    width: auto;
    border-radius: 100%;
}

.profil img {
    max-width: 375px;
}