.selengkapnya{
    width: 160px;
    transition: all 0.5s;
}

.selengkapnya span{
    transition: 0.5s;
}

.selengkapnya:hover span{
    padding-right: 25px;
}

.selengkapnya span:after{
    content: '\00bb';
    opacity: 0 ;
    right: -20px;
    transition: 0.5s;
}

.selengkapnya:hover span:after{
    opacity: 1;
    right: 0;
}

.selengkapnya-cover{
    width: 210px;
    transition: all 0.5s;
    border: none;
}

.selengkapnya-cover span{
    transition: 0.5s;
}

.selengkapnya-cover:hover span{
    padding-right: 25px;
}

.selengkapnya-cover span:after{
    content: '\00bb';
    opacity: 0 ;
    right: -20px;
    transition: 0.5s;
}

.selengkapnya-cover:hover span:after{
    opacity: 1;
    right: 0;
}

.alasan:hover {
    background-color: chartreuse;
    transition: 0.5s;
}

.more {
    width: 160px;
    transition: all 0.5s;
    background-color: transparent;
    border-color: #0d6efd;
}

.more span{
    transition: 0.5s;
}

.more:hover span{
    padding-right: 25px;
}

.more span:after{
    content: '\00bb';
    opacity: 0 ;
    right: -20px;
    transition: 0.5s;
}

.more:hover span:after{
    opacity: 1;
    right: 0;
}

.more-cover{
    width: 210px;
    transition: all 0.5s;
    border: none;
}

.more-cover span{
    transition: 0.5s;
}

.more-cover:hover span{
    padding-right: 25px;
}

.more-cover span:after{
    content: '\00bb';
    opacity: 0 ;
    right: -20px;
    transition: 0.5s;
}

.more-cover:hover span:after{
    opacity: 1;
    right: 0;
}

.pendidikan a{
    color:black;
    text-decoration: none;
}

.btn-profil {
    border: white solid 2px;
    color:white;
}

.btn-profil:hover{
    background-color: white;
    color:black;
}

.play-btn{
    text-align: center;
}